<form>
    <div class="align-tracker__tracker-container">
        <div class="align-tracker__vlabel">Lawful</div>
        <div class="align-tracker__graph_container">
            <div class="align-tracker__hlabel">Good</div>
            <div class="align-tracker__grid">
                
            </div>
            <div class="align-tracker__hlabel">Evil</div>
        </div>
        <div class="flexcol align-tracker__vlabel">Chaotic</div>
    </div>
</form>