<form>
    <div class="alignment-tracker__tracker-container">
        <div class="alignment-tracker__vlabel">Lawful</div>
        <div class="alignment-tracker__graph_container">
            <div class="alignment-tracker__goodlabel">Good</div>
            <!-- Use double braces to get string values, triple braces to send html -->
            <div class="alignment-tracker__grid">{{{alignment_tracker_data.cells}}}</div>
            <div class="alignment-tracker__crosshair_veritcal"></div>
            <div class="alignment-tracker__crosshair_horizontal"></div>
            <div class="alignment-tracker__evillabel">Evil</div>
        </div>
        <div class="alignment-tracker__vlabel">Chaotic</div>
        {{{alignment_tracker_data.sideButtons}}}
    </div>
</form>