<form>
    <div class="alignment-tracker__tracker_container">
        <div class="alignment-tracker__vertical_label">Lawful</div>
        <div class="alignment-tracker__graph_container">
            <div class="alignment-tracker__good_label">Good</div>
            <!-- Use double braces to get string values, triple braces to send html -->
            <div class="alignment-tracker__alignment_grid">{{{alignment_tracker_data.cells}}}</div>
            <div class="alignment-tracker__crosshair_veritcal"></div>
            <div class="alignment-tracker__crosshair_horizontal"></div>
            <div class="alignment-tracker__evil_label">Evil</div>
        </div>
        <div class="alignment-tracker__vertical_label">Chaotic</div>
        {{{alignment_tracker_data.sideButtons}}}
    </div>
</form>