.align-tracker__tracker-container {
    display: flex;
}

.align-tracker__graph_container {
    flex-direction: column;
    flex-grow: 1;
}

.align-tracker__hlabel {
    font-weight: bold;
    text-align: center;
}

.align-tracker__vlabel {
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    text-align: center;
}

.align-tracker__grid {
    display: grid;
    grid-template-columns: repeat(21, 12px);
    grid-template-rows: repeat(21, 12px);
    border: 1px solid black;
}

.align-tracker__grid > * {
    border: 1px solid black;
}
